.App {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

input {
  min-height: 30px;
}

a {
  color: #000;
}

a:hover {
  color: #ffce00;
}

.error {
  color: #de0102;
}

.dashboard-language-name {
  font-size: 3em;
  font-weight: bold;
}

.dashboard-subtitle {
  font-size: 2.3em;
  font-weight: bold;
}

.dashboard-word {
  font-size: 1.8em;
  font-weight: bold;
}
.dashboard-word-list {
  list-style: none;
}

.dashboard-word-list-item {
  /*flexbox for h4/div*/
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  padding-bottom: 16px;
}

.dashboard-word-counts {
}

.dashboard-word-counts span {
  font-weight: bold;
}

@media screen and (min-width: 450px) {
  .dashboard-word-list-item {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
